<body>
    <div class="header">
        <h1>COURSES</h1>
    </div>
    <br>
    <button class="course" (click)="cplus()">
        <div class="ccc">
            <h3>CCC+ Training</h3>
            CCC+ means Course on Computer Concept<br>
            An Advanced level computer certificate course<br>
            This course is crafted to equip the people entering into or working in the government/private sector 
            with the vital skill set, that is, necessary to cope up with the dynamic and ever-changing scenario 
            in the IT sector.
        </div>
    </button>
    <br><br>
    <button class="course" (click)="public()">
        <div class="ccc">
            <h3>Public Administration</h3>
            The aim is to develop an efficient and vibrant public administration system by instilling its executives 
            with skills of professionalism, the ability to cope with change and efficient workplace management.<br>
            Considerable focus is given to new managerial techniques and modern tools, methods and technology.
        </div>
    </button>
    <br><br>
    <button class="course" (click)="lead()">
        <div class="ccc">
            <h3>Leadership Skills</h3>
            Sponsored by various departments of the Government of India, such as the Department of Personnel & Training, 
            Department of Administrative Reforms & Public Grievances, Ministry of Panchayati Raj, Ministry of Rural Development 
            and the Ministry of Urban Development, these programs are in the nature of in-service training and cater to multiple 
            needs of central government employees.<br>
            Personality development, stress management, management of change etc. are some of the important topics addressed under these courses.
        </div>
    </button>
</body>