<body>
    <div class="header">
        <h1>CONFIRMATION PAGE</h1>
    </div>
    <br>
    <div class="image">
        <img src="assets/tick.png">
    </div>
    <div class="txt">
        Congratulations!! For getting enrolled for the training course.<br>
        Further informations and schedule will be informed to you via your registered mail.
    </div>
    <br><br><br><br><br><br>
    <div class="btn">
        <button class="course-btn" (click)="confirm()">Return to Courses</button>
    </div>
</body>