<body>
    <br><br>
    <div class="head1">
        <h2>ABOUT US</h2>
        <p>SPIPA was established by the Government of Gujarat in 1962 as the apex Training Institution of the state. 
        The Institute was renamed as Sardar Patel Institute of Public Administration in 1974. It became on 
        autonomous body (registered under the Societies Registration Act, 1860) in October 2004, so as to gain 
        that essential flexibility in fulfilling its role and meeting the expectations of the State Government.</p>
        <p>Named after the Iron Man of India, the Sardar Patel Institute of Public Administration, popularly known as SPIPA, 
        was established as an institution for training government functionaries. The Institute is strongly committed to 
        development of human capital. It provides state-of-the-art training in public administration, rural development, 
        local self government, disaster management and related areas so as to optimize the competence of Government employees 
        and, thereby, helps realize the endeavor of ideal governance.</p>
    </div>
    <br>
    <div class="head1">
        <h2>THE SPIPA ADVANTAGE</h2>
        <p>SPIPA has emerged today as the nationwide platform for sharing and exploring new possibilities in improving governance. 
        The institute is unique in its ability to draw out experts from each field to supplement the efforts of its in-house faculty. 
        The campus and facilities at SPIPA offer the perfect ambience for studies and discussions, research and documentation. It is 
        strategically located in the heart of Ahmedabad, the development hub of Gujarat. Its specialized need based training programs 
        are diverse and interactive. SPIPA also boasts of distinguished alumni serving the country in their respective fields and 
        enjoying satisfying careers. All in all, it is a focused institution characterized by dynamism and commitment to its 
        objectives.</p>
    </div>
    <br>
    <div class="btn">
        <button class="course-btn" (click)="course()">Courses</button>
    </div>
    <br>
</body>